## Variables

Create a variable with name "x" and a value of 10. Execute.

In [1]:
x = 10

Tell the computer to show you the value of that variable.

In [2]:
print(x)

10

Can you think of a second way to obtain the same result?

In [3]:
x

10

On the same line, create four new variables: a,b,c, and d, that are equal to 10, 20, 30, and 40, respectively.

In [4]:
a,b,c,d = (10,20,30,40)

Tell the computer to show you the value corresponding to the variable "b".

In [8]:
print(b)

20

Do the same for "d".

In [6]:
print(d)

40

## Numbers and Boolean Values

Create a variable equal to "True".

In [4]:
a = True

Check its type.

In [5]:
type(a)

bool

Create a variable equal to 99.

In [6]:
var = 99

Check its type.

In [7]:
type(var)

int

Check the type of the value 0.99.

In [8]:
type(0.99)

float

Turn 99 into a *float*.

In [9]:
float(99)

99.0

Turn 0.99 into an integer. What value did you get?

In [10]:
int(0.99)

0

## Strings

Assign the value of 100 to the variable "m".

With the help of the variable "m", write one line of code where the output after executuion would be *100 days*.

*Hint:* *You could provide four answers to this question!*

Produce an output equal to *It's cool, isn't it?*

Fix the string below.

In [ ]:
'Don't be shy

Produce an output equal to *Click "OK"*.

Include a plus sign in your line of code to produce *'Big Houses'*.

Include a trailing comma in your line of code to produce *Big Houses*.